.dropDownMenu {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  color: $color-white;
  font-weight: 300;

  .sf-with-ul {
    padding-right: 25px;
  }

  .sf-with-ul:after {
    position: absolute;
    content: '\f107';
    display: block;
    top: 12px;
    right: 10px;
    font-size: 12px;
    color: $color-neutral-lighter;
    font-family: 'FontAwesome';
  }

  ul {
    font-size: 14px;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1);
    position: absolute;
    text-align: left;
    display: none;
    top: 100%;
    left: 0;
    z-index: 99;
    margin: 0;
    list-style-type: none;
    border: 1px solid $color-neutral-lighter;

    .sf-with-ul {
      padding-right: 25px;
      text-indent: 15px;
    }

    .sf-with-ul:after {
      content: '+';
      top: 13px;
      right: 14px;
      color: $color-neutral-dark;
      border-radius: 0;
      width: 18px;
      text-indent: 0;
      height: 18px;
      text-align: center;
      line-height: 16px;
      font-size: 14px;
      transition: color 0.25s ease;
    }

    .sf-with-ul:before {
      display: none;
    }

    .sf-with-ul:hover:after {
      color: $color-primary-1-normal;
      border-color: $color-neutral-normal;
      content: '\f105';
      font-family: 'FontAwesome';
    }

    ul {
      top: 0;
      left: 100%;
      margin-left: 1px;
    }

    li {
      position: relative;
      white-space: nowrap;
      *white-space: normal;
      text-align: center;

      &:hover,
      &.sfHover > {
        & > ul {
          display: block;
          -webkit-transition: none;
          transition: none;
        }
      }
    }

  }

  a {
    display: block;
    line-height: 1;
    position: relative;
    padding: 10px 15px;
    color: inherit;
    text-decoration: none;
  }

  & > li {
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;

    &.menuItem-hasMenu > a {
      padding: 10px 5px 10px 15px;
    }

    & > ul {
      display: none;
      flex-direction: column;
      color: $color-black;
      margin-top: -1px;
      transform: translateX(-50%);
      top: 57px;
      left: 50%;

      li {
        background-color: $color-white;
        border-bottom: 1px solid $color-neutral-lighter;

        &:first-child {
          border-radius: 3px 3px 0 0;
        }

        &:last-child {
          border-radius: 0 0 3px 3px;
        }

        a {
          position: relative;
          transition: color 0.25s ease;
          padding: 15px 25px;

          &:hover {
            color: $color-primary-1-normal;

            &:before {
              opacity: 1;
            }

            &:not(.sf-with-ul):after {
              width: 60%;
            }
          }

          &.sf-with-ul {
            padding-right: 40px;
          }

          &:not(.sf-with-ul):after {
            position: absolute;
            content: '';
            display: block;
            width: 0;
            height: 1px;
            left: 50%;
            bottom: -1px;
            background-color: $color-primary-1-normal;
            transform: translateX(-50%);
            transition: width 0.25s ease;
          }
        }
      }
    }
  }

  &.upper {
    text-transform: uppercase;
  }
}

.menu-label {
  position: absolute;
  top: -16px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 9px;
  padding: 0px 8px;
  height: 18px;
  border-radius: 4px;
  color: $color-white;
  background-color: $color-primary-1-normal;
  line-height: 18px;
  letter-spacing: 1px;

  &:after {
    content: '';
    position: absolute;
    display: block;
    background-color: $color-primary-1-normal;
    z-index: -1;
    width: 3px;
    height: 3px;
    transform: rotate(45deg);
    bottom: -1px;
    left: 50%;
    margin-left: -2px;
  }
}

.menu-light > li {
  & > a {
    color: $color-white;
  }

  & > .sf-with-ul:after {
    color: $color-neutral-lighter;
  }
}
